<%=render "titulo" %>

<p id="notice"><%= notice %></p>


<fieldset><legend>Estatíticas</legend>
	<p>
		<b>Nota Média:</b>
		<%=@restaurante.qualificacoes.average(:nota) %><br />
	</p>

	<p>
		<b>Qualificações:</b>
		<%=@restaurante.qualificacoes.count %><br />
	</p>

	<p>
		<b>Preço médio:</b>
		<%=  valor_formatado(@restaurante.qualificacoes.average(:valor_gasto)) %><br />
	</p>

</fieldset>


<p>
  <b>Nome:</b>
  <%= @restaurante.nome %>
</p>

<p>
  <b>Endereco:</b>
  <%= @restaurante.endereco %>
</p>

<p>
  <b>Especialidade:</b>
  <%= @restaurante.especialidade %>
</p>

<% unless @restaurante.comentarios.empty? %>
	<%= comentarios @restaurante %>	
<% end %>

<%= novo_comentario(@restaurante)%>


<%= link_to 'Nova Qualificação', :controller => "qualificacoes",
								 :action => "new",
								 :restaurante => @restaurante %>


<%= link_to 'Edit', edit_restaurante_path(@restaurante) %> |
<%= link_to 'Back', restaurantes_path %>
