<%=render "titulo" %>

<%=render "restaurantes/estatisticas" %>

<p id="notice"><%= notice %></p>
<p>
	<%=image_tag @restaurante.foto.url(:thumb) %>
</p>

<p>
  <b>Nome:</b>
  <%= @restaurante.nome %>
</p>

<p>
  <b>Endereco:</b>
  <%= @restaurante.endereco %>
</p>

<p>
  <b>Especialidade:</b>
  <%= @restaurante.especialidade %>
</p>

<% unless @restaurante.comentarios.empty? %>
	<%= comentarios @restaurante %>	
<% end %>

<%= novo_comentario(@restaurante)%>


<%= link_to 'Nova Qualificação', :controller => "qualificacoes",
								 :action => "new",
								 :restaurante => @restaurante %>


<%= link_to 'Edit', edit_restaurante_path(@restaurante) %> |
<%= link_to 'Back', restaurantes_path %>
