<%- model_class = Restaurante -%>
<div class="page-header">
<h1><%#=t '.title', :default => model_class.model_name.human %></h1>

<div class="row">
    <div class="span3">
      <div class="well">
        <%=image_tag @restaurante.foto.url(:medium), :class =>"img-rounded"%>
      </div>
    </div>

    <div class="span6">
      <div class="well">
          <table class="table table-hover">
            <tr><td>Restaurante:</td><td><%=@restaurante.nome%></td></tr>
            <tr><td>Endereço:</td><td><%=@restaurante.endereco%></td></tr>
            <tr><td>Especialidade:</td><td><%=@restaurante.especialidade%></td></tr>
          </table>


          <div class="btn">
            <%= link_to 'Nova Qualificação', :controller => "qualificacoes",
            :action => "new",
            :restaurante => @restaurante %>
          </div>

      </div>      
    </div>
</div>

<%=render "estatisticas"%>

<% unless @restaurante.comentarios.empty? %>
  <%= comentarios @restaurante %>
<% end %>


<%= novo_comentario(@restaurante)%>


<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              restaurantes_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_restaurante_path(@restaurante), :class => 'btn' %>
</div>
