<div id="novo_comentario">

	<a href="#" onclick="$('#novo_comentario').children().toggle();" class="btn">
		Novo Comentário
	</a>

	<div id="form_comentario" style="display:none;">
		<%=form_for Comentario.new, :html => { :class => 'form-horizontal' },:remote => true do |f| %>
			<%=hidden_field :comentario, :comentavel_id,   :value => comentavel.id %>
			<%=hidden_field :comentario, :comentavel_type, :value => comentavel.class %>

			<div class="control-group">
				<div class="controls">
					<%= f.text_area :conteudo, :size =>"70x5", :class => 'text_area' %>
				</div>
			</div>

			<div class="form-actions">
			    <%= f.submit nil, :class => 'btn btn-primary' %>

	            <a href="#" onclick="$('#novo_comentario').children().toggle();" class="btn">
					Cancelar
				</a>
  			</div>
		<% end %>
	</div>
</div>

<% content_for :js do %>
	$('#form_comentario').bind('ajax:complete', 
		function(xhr, result){
			$('#comentarios').html(result.responseText);
			$('#form_comentario textarea').val("");
			$('#form_comentario').hide();
			//form_comentario > a').show();
		}
	);
<% end %>