<%- model_class = Qualificacao -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

  <div class="row">

    <div class="span6">

      <div class="well">
          <div class="page-header">
            <h4>
              <%= @qualificacao.cliente.nome %>
                <small> avaliou o restaurante </small>
              <%= @qualificacao.restaurante.nome %>
            </h4>
          </div>
      </div>

    </div>

    <div class="span6">

      <div class="span3">
        <div class="well">
          <small>com a nota:</small>
          <b><%= @qualificacao.nota.round %></b>
        </div>
      </div>

      <div class="span3">
        <div class="well">
          <small>com gastos de:</small>
          <b><%= valor_formatado @qualificacao.valor_gasto.round %></b>
        </div>
      </div>

    </div>
  </div>

<% unless @qualificacao.comentarios.empty? %>
  <%= comentarios @qualificacao %>
<% end %>

<%= novo_comentario @qualificacao %>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              qualificacoes_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_qualificacao_path(@qualificacao), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              qualificacao_path(@qualificacao),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
